<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="header-top">
    <div class="container">
        <div class="row">
<!--            <div class="col-lg-4">-->
<!--                <ul class="header-top-list">-->
<!--                    <li class="dropdown-trigger currency-dropdown"><a href="#">£ GBP </a><i-->
<!--                            class="fas fa-chevron-down dropdown-arrow"></i>-->
<!--                        <ul class="dropdown-box">-->
<!--                            <li><a href="#">€ Euro</a></li>-->
<!--                            <li><a href="#">£ Pound Sterling</a></li>-->
<!--                            <li><a href="#">$ US Dollar</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="dropdown-trigger language-dropdown"><a href="#"><span class="flag-img"><img-->
<!--                            src="/assets/image/icon/eng-flag.png" alt=""></span>en-gb </a><i-->
<!--                            class="fas fa-chevron-down dropdown-arrow"></i>-->
<!--                        <ul class="dropdown-box">-->
<!--                            <li> <a href="#"> <span class="flag-img"><img src="/assets/image/icon/eng-flag.png"-->
<!--                                                                          alt=""></span>English</a>-->
<!--                            </li>-->
<!--                            <li> <a href="#"> <span class="flag-img"><img src="/assets/image/icon/germany-flag.png"-->
<!--                                                                          alt=""></span>Germany</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-lg-8 flex-lg-right">-->
<!--                <ul class="header-top-list">-->
<!--                    <li><a href="#"><i class="icons-left fas fa-random"></i>My Compare</a>-->
<!--                    </li>-->
<!--                    <li class="dropdown-trigger language-dropdown"><a href="#"><i-->
<!--                            class="icons-left fas fa-heart"></i>-->
<!--                        wishlist (0)</a>-->
<!--                    </li>-->
<!--                    <li class="dropdown-trigger language-dropdown"><a href="#"><i-->
<!--                            class="icons-left fas fa-user"></i>-->
<!--                        My Account</a><i class="fas fa-chevron-down dropdown-arrow"></i>-->
<!--                        <ul class="dropdown-box">-->
<!--                            <li> <a href="#">My Account</a></li>-->
<!--                            <li> <a href="#">Order History</a></li>-->
<!--                            <li> <a href="#">Transactions</a></li>-->
<!--                            <li> <a href="#">Downloads</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a href="#"><i class="icons-left fas fa-phone"></i> Contact</a>-->
<!--                    </li>-->
<!--                    <li><a href="#"><i class="icons-left fas fa-share"></i> Checkout</a>-->
<!--                    </li>-->
<!--                </ul>-->

                <marquee>
                    <h1 >
                        <p
                           style="color: yellow;font-size: 30px;font-weight: bolder;">Welcome  SunRise Book Store of C0721K1 - CodeGym Hue !</p>
                    </h1>
                </marquee>

<!--            </div>-->
        </div>
    </div>
</th:block>