<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/cp/assets/images/favicon.ico">
    <!-- App css -->
    <link href="/cp/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/css/app.min.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/css/errors.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/cp/asset/css/fontawesome.css" type="text/css">
    
    

    <!-- third party css -->
    <link href="/cp/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="/cp/assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->

</th:block>